/* RC Table */
.rc-table {
  @apply border-separate;
  border-spacing: 0;
}

.rc-table .rc-table-content,
.rc-table .rc-table-body,
.rc-table .rc-table-header {
  @apply border-0;
}

.rc-table tr th,
.rc-table tr td {
  @apply border-0 font-body;
}
.rc-table tr td {
  @apply border-b border-dashed border-border-200;
}

.rc-table thead.rc-table-thead th {
  @apply px-3 py-3 text-sm font-semibold whitespace-nowrap bg-gray-50 font-body text-heading first:rounded-tl first:rounded-bl first:ps-5 last:rounded-tr last:rounded-br last:pe-5;
}

.rc-table tr.rc-table-row:hover {
  background-color: inherit;
}

.rc-table tr.rc-table-row td {
  @apply px-3 py-4 text-sm font-normal cursor-default font-body text-body first:ps-5 last:pe-5;
}
.rc-table tr.rc-table-row td.rc-table-cell-row-hover {
  @apply bg-gray-100;
}

.rc-table tr.rc-table-row-level-1 td,
.rc-table tr.rc-table-row-level-1 td {
  @apply bg-gray-100;
}

.rc-table tr.rc-table-row:last-child td {
  @apply border-b-0;
}

.rc-table tr.rc-table-expanded-row > td {
  @apply p-0 whitespace-normal bg-gray-200 border border-gray-50;
}

.rc-table tr.rc-table-expanded-row tr.rc-table-row {
  cursor: default;
}

.rc-table .rc-table-row-expand-icon {
  @apply inline-flex items-center justify-center;
}

.rc-table .rc-table-expanded-row-fixed::after {
  border-width: 0;
}
